@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,400i,700|Playfair+Display:400,400i|PT+Serif:400,400i,700,700i&display=swap');
@import url('./nord.css');

html {
    background-color: white;
    color: var(--nord0); 
    font: 16px/1.4 'PT Serif', Georgia, Times, Times New Roman, serif;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

a {
    background-color: var(--nord6);
    color: inherit;
}

a:hover {
    background-color: var(--nord5);
}

a.term-reference {
    color: inherit;
    background-color: inherit;
    font-style: italic;
    text-decoration: dotted underline;
}

a[href^="#"] {
    color: inherit;
    background-color: inherit;
}

dfn {
    font-weight: bold;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}

h1, h2 {
    font-family: Playfair Display;
}

h3 {
    font-size: 1.0em;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    margin: 0;
}

h3 + p {
    margin-top: 0.5em;
}

/* The document header */

header {
    line-height: 1;
    margin: 2rem 0;
}

header > hgroup > h1 {
    font-weight: normal;
    margin: 0 0 0.5rem;
}

header > hgroup > h2 {
    color: var(--nord2);
    font-family: Playfair Display;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

/* The navigation bar */

nav {
    font-size: 0.8em;
    position: relative;
}

nav a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

nav .current a.viewing::before {
    content: "→ ";
    display: block;
    position: absolute;
    right: 100%;

    /* font-weight:bold; */
}

nav ol,
nav li
{
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0;
}

nav > ol > li.current {
    font-weight: bold;
}

nav > ol > li {
    margin: 0.5em 0;
}

nav > ol > li > ol {
    font-weight: normal;
}

nav > ol > li > ol > li > ol {
    display: none;
    margin-left: 2ch;
}

nav > ol > li > ol > li.viewing-child > ol,
nav > ol > li > ol > li.viewing > ol
{
    display: block;
}

/* main content */

main > p:first-child {
    margin-top: 0;
}

section {
    margin: 2rem 0;
}

h1 + section,
h2 + section,
h3 + section,
h4 + section,
h5 + section,
h6 + section
{
    margin-top: 1em;
}

code {
    background: var(--nord6);
    color: var(--nord0);
    font-family: Fira Code, monospace;
}

aside {
    background-color: var(--nord6);
    border-left: 4px solid var(--nord1);
    font-size: 0.85em;
    padding: 1px 0.5em;
    margin: 1rem;
    position: relative;
    clear: both;
}

aside p {
    margin: 0.5em 0;
}

aside p:first-child {
    font-weight: bold;
}

aside.caution {
    border-color: var(--nord11);
}

aside.caution::before {
    background-image: url('/res/caution.svg');
}

aside.important {
    border-color:var(--nord13);
}

aside.important::before {
    background-image: url('/res/important.svg');
}

aside.info {
    border-color: var(--nord15);
}

aside.info::before {
    background-image: url('/res/info.svg');
}

aside.tip {
    border-color: var(--nord14);
}

aside.tip::before {
    background-image: url('/res/tip.svg');
}

.char-sequence-literal > span,
.char-sequence-utf-8 > span {
    margin-left: 0.25ch;
}

/* footer */
footer {
    background-color: var(--nord0);
    color: var(--nord4);
    font-size: 0.8em;
    margin: 2rem -1rem -1rem;
    min-height: 8rem;

    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

footer a {
    background-color: var(--nord1);
    color: var(--nord5);
}

footer a:hover {
    background-color: var(--nord2);
}

#credits {
    margin-top: 1em;
}

footer > ul {
    line-height: 2;
    margin: 0;
    padding: 0;    
    text-align: right;
}

footer > ul > li {
    list-style: none;
}

/* Special rules for tiny views */
@media screen and (max-width: 60ch) {
    nav {
        background-color: var(--nord6);
        border: 1px solid var(--nord3);
        padding: 1rem 1rem 1px 1rem;
        margin: 1rem 0;
    }
}

/* Special rules for small views */
@media screen and (max-width: 60ch) and (min-width: 40ch) {
    nav {
        float: right;
        margin: 0 0 1rem 1rem;
        width: 25ch;
    }
}

/* Special rules for big views */
@media screen and (min-width: 60ch) {
    header > hgroup > h1 {
        font-size: 4rem;
    }
    
    body.notoc {
        grid-template-columns: 1fr 0 minmax(45ch, 70ch) 1fr;
    }

    body {
        display: grid;
        grid-template-columns: 1fr minmax(45ch, 70ch) 15ch 1fr;
        grid-template-rows: max-content max-content auto;
        grid-column-gap: 4ch;
    }

    body > nav
    {
        grid-column: 3;
        grid-row: 2;
    }
    
    body > header,
    body > main
    {
        grid-column: 2;
    }

    body > footer {
        grid-row: 3;
        grid-column: 1 / 5;
    }

    aside {
        margin-left: calc(2rem + 64px);
    }

    aside::before {
        content: "";
        display: block;
        background-size: contain;
        background-position: center;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 50%;
        right: calc(100% + 16px);
        margin-top: -24px;
    }

    nav {
        opacity: 0.6;
        transition: 0.2s opacity;
    }

    nav:hover {
        opacity: 1;
    }

    nav > ol, nav > ul {
        position: sticky;
        top: 1em;
    }
}


/* SYNTAX HIGHLIGHTING */

pre.source-code {
    background-color: var(--nord0);
    border: 3px solid var(--nord1);
    color: var(--nord6);

    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 0.5ch;
}

pre.source-code > div {
    background-color: var(--nord1);
    color: var(--nord4);
}

pre.source-code > div.line-numbers {
    padding: 0 0.5ch;
    text-align: right;
}

pre.source-code > div.line-numbers > code {
    background-color: transparent;
    color: var(--nord4);
    display: block;
    font-size: 0.7rem;
    min-height: 1.0rem;
    line-height: 1.0rem;
}

pre.source-code > div.language {
    grid-column: 1 / span 2;
    font-size: 0.7rem;
    line-height: 1;
    padding: 0.25ch 0.5ch;
    text-align: center;
    font-weight: bold;
    }

pre.source-code > div.language::before {
    content: "language: ";
    font-weight: normal;
}

pre.source-code > code {
    background-color: transparent;
    overflow-x: auto;
}

pre.source-code > code > code {
    display: block;
    background-color: transparent;
    font-size: 0.8rem;
    min-height: 1.0rem;
    line-height: 1.0rem;
}

pre.source-code [data-type="alert"] {
    color: var(--nord13);
}

pre.source-code [data-type="annotation"] {
    color: var(--nord12);
}

pre.source-code [data-type="attribute"] {
    color: var(--nord4);
    font-weight: bold;
}

pre.source-code [data-type="builtin"] {
    color: var(--nord7);
}

pre.source-code [data-type="character"] {
    color: var(--nord14);
}

pre.source-code [data-type="comment"] {
    color: var(--nord3);
    font-style: italic;
}

pre.source-code [data-type="comment-variable"] {
    color: var(--nord9);
}

pre.source-code [data-type="constant"] {
    color: var(--nord4);
    font-weight: bold;
}

pre.source-code [data-type="control-flow"] {
    color: var(--nord9);
}

pre.source-code [data-type="data-type"] {
    color: var(--nord7);
}

pre.source-code [data-type="documentation"] {
    background-color: var(--nord2);
    color: var(--nord3);
    font-style: italic;
}

pre.source-code [data-type="error"] {
    color: var(--nord11);
}

pre.source-code [data-type="extension"] {
    color: var(--nord10);
}

pre.source-code [data-type="floating-point"] {
    color: var(--nord15);
}

pre.source-code [data-type="function"] {
    color: var(--nord8);
}

pre.source-code [data-type="import"] {
    color: var(--nord10);
}

pre.source-code [data-type="information"] {
    color: var(--nord14);
}

pre.source-code [data-type="integer"] {
    color: var(--nord15);
}

pre.source-code [data-type="keyword"] {
    color: var(--nord9);
}

pre.source-code [data-type="nondecimal-integer"] {
    color: var(--nord15);
}

pre.source-code [data-type="normal"] {
    color: var(--nord6);
}

pre.source-code [data-type="operator"] {
    color: var(--nord9);
}

pre.source-code [data-type="other"] {
    color: var(--nord13);
}

pre.source-code [data-type="preprocessor"] {
    color: var(--nord9);
}

pre.source-code [data-type="region-marker"] {
    color: var(--nord9);
}

pre.source-code [data-type="special-character"] {
    color: var(--nord13);
    font-style: italic;
}

pre.source-code [data-type="special-string"] {
    color: var(--nord13);
    font-style: italic;
}

pre.source-code [data-type="string"] {
    color: var(--nord14);
}

pre.source-code [data-type="variable"] {
    color: var(--nord4);
    font-weight: bold;
}

pre.source-code [data-type="verbatim-string"] {
    color: var(--nord14);
}

pre.source-code [data-type="warning"] {
    color: var(--nord13);
}